* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(145, 255, 255);
    padding-left: 5%;
    padding-right: 8%;
    box-sizing: border-box;
    /* background-image: url(/images/dragne-marius-EdzsUFqHbaY-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px; */
}
header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    /* box-shadow: 0 0 10px; */
    /* background-color: rgba(121, 255, 3, 0.971); */
}
#logo {
    flex: 1;
    color: rgb(1, 1, 2);
    margin-left: 50px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bolder;
}
#search-box {
    flex: 1;
    position: relative;
}
#srch{
    width: 70%;
    height: 40px;
    border: none;
    border-radius: 15px;
    color: gray;
    font-size: 16px;
    text-align: center;
}
#search-box button{
    cursor: pointer;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 30px;
    position: relative;
    top: 0;
    right: 0;
}
#navigate {
    padding-right: 20%;
    flex: 2;
    display: flex;
    justify-content: space-evenly;
}
#navigate li{
    list-style: none;
}
#navigate li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    padding: 20px 5px;
    transition: transform o.5sec;
}
#navigate li a:hover{
    transform: translateY(-10px);
    background-color: rgb(9, 165, 185);
    border-radius: 25px;
}
#container {
    display: flex;
    align-items: center;
    height: 900px;
    
}
#story{
    /* display: flex; */
    flex-basis: 50%;
    padding: 25px 60px;
    width: 35%;
    
    
}
/* #story {
    color: rgb(156, 157, 158); */

#story h1{
    color: rgb(0, 0, 0);
    font-size: 60px;
}
#story p{
    color: rgb(223, 210, 60);
    font-size: 11px;
    line-height: 15px;
}
#story button {
    padding: 12px 0;
    margin-top: 30px;
    width: 170px;
    height: 50px;
    color: rgb(246, 246, 250);
    background-color: black;
    border: none;
    border-radius: 20px;
    font-size: 17px;
}
#card-wrap {
    padding: 20px 15px;
    width: 100%;
    display: block;
    flex-wrap: wrap;
}

#card {
    width: 200px;
    height: 250px;
    display: inline-block;
    border-radius: 40px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 30px 15px;
    background-position: centre;
    background-size: cover;
    transition: transform o.5sec;
}
#card:hover {
    transform: translateY(-10px);
} 
.c01{
background-image: url(/images/daniela-RELOvb0rrCE-unsplash.jpg);
}
.c02{
    background-image: url(/images/dragne-marius-EdzsUFqHbaY-unsplash.jpg);  
}
.c03{
    background-image: url(/images/frank-holleman-7oYPIMGUhjA-unsplash.jpg);
}
.c04{
    background-image: url(/images/sanket-shah-eEWlcfydzQ4-unsplash.jpg); 
}
.c05{
    background-image: url(/images/saundarya-srinivasan-9CFwOcFCcDI-unsplash.jpg); 
}
.c06{
    background-image: url(/images/taylor-kiser-POFG828-GQc-unsplash.jpg); 
}
.c07{
    background-image: url(/images/khloe-arledge-ND3edEmzcdQ-unsplash.jpg);  
}
.c08{
    background-image: url(/images/frank-holleman-7oYPIMGUhjA-unsplash.jpg);  
}.c09{
    background-image: url(/images/shreyak-singh-0j4bisyPo3M-unsplash.jpg);  
}